.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    background-color: #10958B;
    width: 100vw;
    height: 860px;
}

.image{

}

.right{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

.top{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.heading{
    color: #FFF;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
}

.para{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bold{
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
}

.normal{
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    width: 477px;
    line-height: 32px;
}

.shopLink{
    margin-top: 20px;
}

.shop{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 224px;
    height: 48px;
    border-radius: 10px;
    background: #FFF;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
}


@media screen and (max-width: 464px) {

    .container{
        height: 590px;
        flex-wrap: wrap;
        gap: 43px;
        padding: 30px 0;
    }

    .image{
        width: 303px;
        height: 242px;
    }

    .right{
        gap: 10px;
        align-items: center;
    }

    .top{
        font-size: 15px;
    }

    .bottom{
        gap: 17px;
        align-items: center;
    }

    .heading{
        font-size: 24px;
    }

    .para{
        width: 88%;
        text-align: center;
    }

    .bold{
        font-size: 16px;
    }

    .normal{
        font-size: 16px;
        width: 95%;
        line-height: 20px;
        margin-top: -3px;
    }

    .shopLink{
        margin-top: 5px;
    }

    .shop{
        width: 120px;
        height: 30px;
        border-radius: 20px;
        font-size: 14px;
    }

}

