.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    width: 100vw;
}

.header{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.heading{
    color: #1E2A39;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.35px;
}

.headingDesc{
    color: #5C6272;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.16px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row{
    width: 764px;
    display: flex;
    gap: 68px;
    padding: 15px 0px;
    border-bottom: 1px solid #CCC;
}

.row:last-child{
    border-bottom: none;
}

.topic{
    width: 370px;
    color: #55565A;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.2px;
}

.desc{
    display: flex;
    gap: 70px;
    color: #55565A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.318px; 
    letter-spacing: -0.16px;
}

.col{
    display: flex;
    flex-direction: column;
}

.sub{
    color: #55565A;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.18px;
}

@media screen and (max-width: 464px) {

    .container{
        gap: 30px;
    }
    
    .header{
        gap: 0px;
    }
    
    .heading{
        font-size: 24px;
        letter-spacing: normal;
    }
    
    .headingDesc{
        font-size: 14px;
        letter-spacing: normal;
    }
    
    .main{
        gap: 31px;
    }
    
    .row{
        width: 80%;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 0;
        border-bottom: none;
    }
    
    .topic{
        width: 100%;
        font-size: 20px;
        letter-spacing: normal;
        text-align: center;
    }

    .row:first-child > .topic{
        display: none;
    }

    .row:nth-child(2) > .topic{
        font-size: 16px;
    }
    
    .desc{
        gap: 36px;
        text-align: center;
        letter-spacing: normal;
    }
    
    .sub{
        font-size: 16px;
        letter-spacing: normal;
        margin-bottom: 12px;
        text-align: center;
    }

    .subDesc{
        text-wrap: nowrap;
    }

}