.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
    width: 100vw;
    height: 860px;
    background: linear-gradient(270deg, #10958B 0.08%, #006D65 73.05%);
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.lost{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.sticker{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.stickerHead{
    color: #FFF;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
}

.stickerInfo{
    width: 477px;
}

.infoHead{
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
}

.stickerDesc{
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.shopLink{
    margin-top: 15px;
}

.shop{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 48px;
    background-color: #FFF;
    border-radius: 10px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
}

.image{

}


@media screen and (max-width: 464px) {

    .container{
        height: 650px;
        flex-direction: column-reverse;
        gap: 48px;
    }

    .image{
        width: 277px;
        height: 270px;
        border-radius: 277px;
    }

    .lost{
        font-size: 15px;
    }

    .sticker{
        gap: 10px;
        align-items: center;
    }

    .stickerHead{
        font-size: 24px;
    }

    .stickerInfo{
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .infoHead{
        font-size: 16px;
    }

    .stickerDesc{
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .left{
        gap: 15px;
        align-items: center;
    }

    .shop{
        width: 120px;
        height: 30px;
        border-radius: 20px;
    }

}

