.container{
    width: 100vw;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(112deg, rgba(245, 182, 58, 0.90) 0%, rgba(245, 181, 58, 0.90) 96.54%);

}

.cart{
    width: 1360px;
    height: max-content;
    background-color: #FFF;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.summarySection{
    width: 550px;
    height: max-content;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
}

.products{
    display: flex;
    flex-direction: column;
    gap: 58px;
}

.summary{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.productList{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 300px;
    max-height: max-content;
    padding-bottom: 40px;
    border-bottom: 1px solid #E2E8F0;
}

.product{
    display: flex;
    gap: 33px;
    align-items: center;
    position: relative;
}

.icon{
    width: 70px;
    height: 70px;
    background-color: #000;
}

.productDetails{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.productCat{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.productName{
    color: #000;
    font-size: 17px;
    font-style: normal;
}

/* .qt{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 115px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #E2E8F0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
} */

.btn1{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 48px;
    width: 160px;
    border-radius: 10px;
    border: 1px solid #000;
}

.calc{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -2px;
    cursor: pointer;
}

.billing{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0px 0px 21px 0px;
    margin-top: -20px;
}

.billRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.billRow:nth-child(3){
    border-bottom: 1px solid #E2E8F0;
    padding-bottom: 20px;
}

.billCat{
    color: #4A5568;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.billAmt{
    color: #2D3748;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.shipAmt{
    color: #369356;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.totRow{
    color: #2D3748;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.btns{
    display: flex;
    justify-content: space-between;
}

.back{
    width: 162px;
    height: 50px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #181818;
    cursor: pointer;
    color: #181818;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.18px;
}

.buy{
    width: 220px;
    height: 50px;
    background-color: #181818;
    color: #FFF;
    border-radius: 10px;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.18px;
    font-size: 18px;
}

.others{
    width: 500px;
    margin-top: 70px;
}

.circleSection{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.col{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.name{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.18px;
}

.circShop{
    width: 150px;
    height: 35px;
    border-radius: 10px;
    background: #181818;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}