.container{
    display: flex;
    flex-direction: column;
    gap: 200px;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 1089px;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

.reviews{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.head1{
    color: #1E2A39;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 364px;
    height: 286px;
    padding-top: 34px;
    padding-bottom: 26px;
    border-radius: 12px;
    background-color: #FFF;
    box-shadow: 0px 54px 80px -16px rgba(219, 222, 229, 0.80);
}

.review{
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 310px;
    color: #646670;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    padding-bottom: 30px;
    border-bottom: 1px solid #EFEFEF;
}

.person{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 20px;
    gap: 20px;
}

.personPic{
    background-color: #FFF;
    border-radius: 50%;
    border: 1px solid lightgray;
}

.personInfo{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.name{
    color: #292929;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.4px;
}

.position{
    color: #6D7487;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; 
    letter-spacing: -0.28px;
}

.star{
    font-size: 12px;
}

.sliderReviews{
    display: none;
}

.linkSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.appInfo{
    width: 450px;
    color: #5C6272;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    letter-spacing: -0.16px;
    text-align: center;
    margin-bottom: 20px;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 41px;
}

.btn{
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
}


@media screen and (max-width: 464px) {

    .container{
        gap: 85px;
        height: 650px;
    }

    .reviews{
        gap: 28px;
    }

    .cards{
        display: none;
    }

    .sliderReviews{
        display: block;
        width: 100vw;
        height: 270px;
    }

    .slide{
        padding-left: 18%;
        height: 260px;
    }

    .card{
        gap: 17px;
        width: 316px;
        height: 248px;
        padding-top: 29px;
        padding-bottom: 23px;
        border-radius: 12px;
        background-color: #FFF;
        box-shadow: 0px 54px 80px -16px rgba(219, 222, 229, 0.80);
    }
    
    .review{
        width: 275px;
        font-size: 14px;
        padding-bottom: 20px;
    }
    
    .person{
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        padding-left: 20px;
        gap: 18px;
    }
    
    .personPic{
        background-color: #FFF;
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }
    
    .personInfo{
        gap: 2px;
    }
    
    .star{
        font-size: 11px;
    }

    .linkSection{
        gap: 12px;
        margin-top: -40px;
    }
    
    .appInfo{
        width: 310px;
        font-size: 14px;
        line-height: 22px; 
        letter-spacing: normal;
    }
    
    .btns{
        gap: 20px;
    }
    
    .btn{
        width: 100%;
    }

    .phone{
        width: 100px;
        height: 30px;
    }


}


@media screen and (max-width: 430px) {

    .slide{
        padding-left: 13%;
    }


}



@media screen and (max-width: 400px) {

    .slide{
        padding-left: 10%;
    }

}



@media screen and (max-width: 385px) {

    .slide{
        padding-left: 9%;
    }

}


