.slick-next, .slick-prev{
    width: 72px !important;
    height: 72px !important;
    z-index: 2;
}

.slick-prev{
    position: absolute !important;
    top: 230px !important;
    left: -60px !important;
}

.slick-next{
    position: absolute !important;
    top: 230px !important;
    right: -60px !important;
}

@media screen and (max-width: 464px) {

    .slick-next, .slick-prev{
        width: 23px !important;
        height: 23px !important;
    }

    .slick-prev{
        top: 100px !important;
        left: 0px !important;
    }

    .slick-next{
        top: 100px !important;
        right: 0px !important;
    }
    /* .slick-slide img{
        display:block;
        margin-left:28%;
    } */

}