.empty {
  width: 100vw;
  height: 75px;
}

.container {
  width: 100%;
  height: 75px;
  background: #fff;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6%;
  position: fixed;
  top: 0;
  z-index: 100;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.pod,
.res,
.com {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  position: relative;
}

.open{
  color: #F46219;
}

.linkName {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}

.arrOpen{
    transform: rotate(180deg);
}

.options{
    position: absolute;
    top: 45px;
    left: -50px;
    height: max-content;
    width: max-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    background: #FFF;
    box-shadow: 10px 5px 40px 0px rgba(0, 0, 0, 0.25);
}

.option {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.option:hover {
  color: teal;
}

.active {
  color: #f4621a;
}

.shopBtn {
  display: block;
  width: 220px;
  height: 48px;
  border-radius: 10px;
  background: #f46219;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.shopBtnMob {
  display: none;
}
.limg {
  width: 59px;
  height: 59px;
}

.line{
    display: none;
}

/* .three{
    display: none;
} */

.mobDown{
    display: none;
}

@media screen and (max-width: 464px) {
  .shopBtn {
    display: none;
  }
  .shopBtnMob {
    display: block;
  }
  .limg {
    width: 40px;
    height: 40px;
    margin: 6px 0 0 0;
  }
  .container {
    width: 100%;
    height: 58px;
  }
  .empty {
    width: 100vw;
    height: 53px;
  }

    .links{
        /* margin-left: 150px; */
        gap: 20px;
    }

    .res, .com{
        display: none;
    }

    .options{
        background-color: #E8E8E8;
        gap: 4px;
        padding: 10px;
        top: 42px;
    }

    .option{
        font-size: 12px;
    }

    .line{
        display: block;
        position: relative;
    }

    .mobDown{
        display: block;
        position: absolute;
        top: 45px;
        right: -15px;
        width: 150px;
        height: auto;
        z-index: 10;
        background-color: #FFF;
    }

    .resMob, .comMob{
        display: block;
    }

    .lineHead{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
    }

    .arrMob{
        transform: rotate(-90deg);
    }

    .optionsMob{
        background-color: #E8E8E8;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 5px 10px;
    }

    .cross{
      margin-top: 5px;
    }




}