.container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 90px;
    width: 100vw;
    height: 700px;
    padding: 0 0 5rem 0;
    background: linear-gradient(180deg, #F46219 0%, #F4B63A 100%);
}

.col{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.btn{
    width: 166px;
    height: 37px;
    border-radius: 10px;
    background-color: #181818;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    border: none;
}


@media screen and (max-width: 464px) {

    .container{
        height: auto;
        padding: 18% 0;
        gap: 60px;
        flex-direction: column;
    }

    .circ{
        width: 130%;
        height: auto;
    }
    .circ2{
        width: 95%;
        height: auto;
    }
    .circ3{
        width: 100%;
        height: auto;
    }
    .col{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}