.slick-dots li.slick-active button::before {
  color: black;
  font-size: 9px;
}
  
.slick-dots li button::before {
  color: white;
  font-size: 9px;
  opacity: 1;
}

.slick-dots {

  display: block;

} 

   
@media screen and (max-width: 464px){
  .slick-dots {

    display: none;

}
}