.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin: 100px 0;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 31px;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 31px;
}