.container{
    width: 100%;
    height: 772px;
    background: linear-gradient(180deg, #F46219 0%, #F4B63A 100%);
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 170px;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.line{
    display: block;
    width: 0;
    height: 178px;
    border-left: 1px solid #2C2C2C;
    margin-left: 17px;
}

.contents{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modern{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.save{
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
}

.shopLink{
    width: 220px;
}

.shopLink2{
    display: none;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 48px;
    border-radius: 10px;
    background-color: #181818;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    border: none;
    outline: none;
    cursor: pointer;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle{
    width: 497px;
    height: 497px;
    border-radius: 50%;
    background: radial-gradient(139.49% 139.49% at 27.97% 44.47%, #F4B63A 0%, #F46219 100%);
    box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}

.image{
    position: absolute;
    top: 120px;
    left: 60px;
}


@media screen and (max-width: 464px) {
    
 
    .container{
        width: 100%;
        height: 39rem;
        background: linear-gradient(302deg, #F46219 0%, #F4B63A 100%);
        overflow-y: hidden;
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
        padding: 10% 0 0 0;
    }

    .image{
        position: static;
        height: 186px;
        margin: 5% 0 0 3%;
    }
    .circle{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: radial-gradient(139.49% 139.49% at 27.97% 44.47%, #F4B63A 0%, #F46219 100%);
        box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   .line{
    display: none;
}
.modern{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

}

.save{
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}
.shopLink{
    display: none;
}
.shopLink2{
    display: block;
    width: 120px;
    margin: 14% 0 10% 0;
}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12% 0 0 0;
}
.contents {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: radial-gradient(139.49% 139.49% at 27.97% 44.47%, #F4B63A 0%, #F46219 100%);
    box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}
.btn{
    border-radius: 20px;
    width: 120px;
    height: 35px;
    font-size: 14px;
}
}