.container{
    width: 100%;
    padding: 25px 0;
    border-top: 1px solid #CCC;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    color: #5C6272;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.16px;
}

.arrowUp{
    transform: rotate(180deg);
}

.contents{
    margin-top: 20px;
    white-space: pre-line;
}


@media screen and (max-width: 464px) {

    .container{
        padding: 10px 0px;
    }

    .header{
        gap: 30px;
    }

    .title{
        font-size: 12px;
        letter-spacing: normal;
    }

    .arrow{
        width: 8px;
        height: 5px;
    }

    .contents{
        margin-top: 10px;
        font-size: 10px;
        white-space: wrap;
        width: 90%;
    }


}