.container{
    height: 120px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    background-color: #F2F2F2;
}

.item{
    display: flex;
    gap: 40px;
    align-items: center;
}

.gif{
    border-radius: 50%;
    border: 2px solid #000;
}

.desc{
    display: flex;
    flex-direction: column;
}

.upper{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

.lower{
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}


@media screen and (max-width: 464px) {

    .container{
        height: 228px;
        flex-direction: column;
        gap: 25px;
    }

    .item{
        gap: 23px;
    }

    .item:nth-child(2){
        flex-direction: row-reverse;
    }

    .gif{
        width: 50px;
        height: 50px;
    }

    .upper{
        font-size: 14px;
    }

    .lower{
        font-size: 10px;
    }
}